<h1>Stupid Coaching</h1>
<div class="question">
  <h3 style="margin: 8px"><%= @question %></h3>
  <p style="margin: 8px"><i>-You</i></p>
</div>
<div class="response">
  <h3 style="margin: 8px"><%= @answer %></h3>
  <p style="margin: 8px"><i>-Coach</i></p>
</div>
<%= link_to "Ask a new question", ask_path %>
